*{
    padding: 0px;
    margin:0px;
    
}
.admission{
    background-color: #121212;
}
#navbar{
    display: flex;
    
}
#navbar .left-70  {
    width: 70%;   
}
#navbar .left-70 ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar .right-30 {
    width: 30%;
}
#navbar .left-70 ul li{
    list-style: none;
    padding: 15px 22px;
    color: #f1ebeb;
}
 #navbar .left-70 ul li a{
    text-decoration: none;
    color: #f9004d;
    font-size: 1.2rem;
    /*text-transform: uppercase;*/
    
}
#navbar .right-30 {
    display: flex;
    justify-content: center;
    align-items: center;

    
}
#navbar .right-30 i{
    font-size: 25px;
    
}




body{
    background: #121212;
    width: auto;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}
.form{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.form form{
    display: flex;
    flex-direction: column;
    /* font-family: inherit;*/
}
    
.form form input{
    margin-top: 20px;
}


.form .sign{
    display: flex;
}
.form .text-box{
    background: rgba(243, 191, 191, 0.1);
    color: #f9004d;
    border: #f9004d;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    border-bottom: 1px solid #f9004d;
}
.form .text-box:first-child{
     margin-right: 15px;
  
}
.form .send-btn{
    display: flex;

}
.form .send-btn{
    background: #2e94e3;
    float: right;
    font-weight: 500px;
    border: #ffffff;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    transition: 03s;
    border-radius: 5px;
    letter-spacing: 2px;
}
form .send-btn{
    background: #0582E3;
    cursor: pointer;
}

.form .text-box{
    width: 100%;
}