

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
}

ul{
    float: right;
    list-style-type: none;
    margin-right: 25px;
    margin-top: -50px;
  
  }
  ul li{
    display: inline-block;
  }
  
  
  ul li a{
    text-decoration: none;
    color: rgb(126, 163, 206);
    padding: 5px 20px;
    border: 1px solid rgb(148, 8, 90);
    transition: 0.6s ease;
  }
  
  ul li.active a{
    background-color: white;
    color: red;
  }
  ul li a:hover{
    background-color: #0f65aa;
    color: rgb(121, 182, 206);
  }
  

header{
    z-index: 1;
    position: fixed;
    background: #22242a;
    padding: 20px;
    width: calc(100% - 0%);
    height: 30px;
    top: 0;
}
.left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left_area span{
    color: #f9004d;
}
.logout_btn{
    padding: 5px;
    background: #f9004d;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
}
.logout_btn:hover{
    background: #970634;
}
.sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}
.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: #f9004d;
}
.sidebar i{
    padding-right: 10px;   
}

.label #sidebar_btn {
    z-index: 1;
    color: #ffffff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
/* header .label .label #sidebar_btn i{
    color: #fff;
} */

.label #sidebar_btn:hover{
    color: #f9004d;
}
#check:checked ~ .sidebar{
    left: -185px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}
.content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: url(school.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}
#check:checked ~ .content{
    margin-left: 60px;
}
#check:checked ~ .sidebar .profile_info{
    display: none;
}
#check{
    display: none;
}

/* @media screen and(max-width: 780px){
    .sidebar{
        display: none;
    }
    #sidebar_btn{
        display: none;
    }
    .content{
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    #check:checked ~ .content{
        margin-left: 0;
    }
    .movile_nav{
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar{
        background: #222;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .movile_profile_image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .nav_bar .nav_btn{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }
    .nav_bar .nav_btn:hover{
        color: #970634;
    }
    .movile_nav_items{
        background: #2f323a;

    }
    .movile_nav_items a{
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }
    .movile_nav_items a:hover{
        background: #f9004d;
    }

} */
