
ul{
  float: right;
  list-style-type: none;
  margin-right: 25px;
  margin-top: -50px;

}
ul li{
  display: inline-block;
}


ul li a{
  text-decoration: none;
  color: rgb(126, 163, 206);
  padding: 5px 20px;
  border: 1px solid rgb(148, 8, 90);
  transition: 0.6s ease;
}

ul li.active a{
  background-color: white;
  color: red;
}
ul li a:hover{
  background-color: #0f65aa;
  color: rgb(121, 182, 206);
}

  
.photos_text h2{
  color:rgb(37, 149, 194);
  font-size: 80px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.holy img{
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  width: 150px;
  height: 150px;
}

.chopra img{
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
}

.covid img{
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
}

.func img{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
}

.foreign img{
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
}


.nana img{
  float: left;
  margin-right: 100px;
  margin-top: 20px;
  width: 300px;
  height: 250px;
}

.trip img{
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
}
.audi img{
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  width: 250px;
  height: 250px;
}

.vid1 {
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  display: flex;
}

.vid2 {
  float: left;
  margin-left: 200px;
  margin-top: 20px;
  width: 200px;
  height: 200px;
  display: flex;
}
.upload button {

  float: right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  cursor: pointer;
  padding: 15px 32px;
  text-align: center;
  text-decoration: solid;

  font-size: 16px;
  box-shadow: 0 9px #999;
}

.upload button:hover {background-color: #154617}

.upload button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}