*{
    padding:0;
    margin:0;
    font-family:inherit;
    box-sizing:border-box;
}

ul{
    float: right;
    list-style-type: none;
    margin-right: 25px;
    margin-top: -50px;
  
  }
  ul li{
    display: inline-block;
  }
  
  
  ul li a{
    text-decoration: none;
    color: rgb(126, 163, 206);
    padding: 5px 20px;
    border: 1px solid rgb(148, 8, 90);
    transition: 0.6s ease;
  }
  
  ul li.active a{
    background-color: white;
    color: red;
  }
  ul li a:hover{
    background-color: #0f65aa;
    color: rgb(121, 182, 206);
  }



body{
    background: #121212;
    width: auto;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
}
.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;

}
.contact-info{
    color:#ffffff;
    padding-left: 50px;
    line-height: 65px;
    font-size: 18px;
    max-width: 500px;
}
.contact-info i{
    font-size: 20px;
    text-decoration: white; 
	
    margin-right: 20px;
}
.contact-info i:hover{
    color: #f9004d;
    cursor: pointer;
}
.form{
    max-width: 700px;
    margin-right: 50px;
}

/* .contact-info, .contact-form .social{
    display: flex;
}
.contact-info, .contact-form .social{
    
} */
.form h2{
    color:aliceblue;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px ;
}
span{  
    color: #f9004d;
}
.form .text-box{
    background: rgba(243, 191, 191, 0.1);
    color: #f9004d;
    border: #f9004d;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    border-bottom: 1px solid #f9004d;
}
.form .text-box:first-child{
    margin-right: 15px;
}
.form textarea{
    background: rgba(243, 191, 191, 0.1);
    border: 2px solid #f9004d;
    color: #f9004d;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    max-height: 400px;
    min-height: 200px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.form .send-btn{
    background: #2e94e3;
    float: right;
    border: #ffffff;
    width: 120px;
    height: 40px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    transition: 03s;
    border-radius: 5px;
    letter-spacing: 2px;
}
form .send-btn{
    background: #0582E3;
    cursor: pointer;
}
@media screen and (max-width: 950px){
    .contact{
        flex-direction: column;
    }
}
.contact-info .form{
    margin: 30px 50px;
}
.form h2{
    font-size: 30px;
}
.form .text-box{
    width: 100%;
}
.form .contact{
    display: flex;
}
.contact .contact-info .social{
    display: flex;
}
.success{
    z-index: 1;
    background: #d4edda;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3ad66e;
    border-radius: 5px;
}
.error{
    z-index: 1;
    background: #fff3cd;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #ffa502;
    border-radius: 5px;
}